/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 21/06/2022, 05:33:48 PM
    Author     : Patrick Osorno
*/

body{
    background-image: url(../img/bg.jpg);
}
.centBot{
    text-align: center;
    padding-top: 1%;
}
/*Estilo Pagina Inicio Sesion*/
.centrarFormulario{
/*    display: grid;
    place-items: center;*/
    
    place-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}
.panInSes{
    /*margin-top: 9%;*/
    text-align: center;
    width: 25%;
}
.cbxTipoUs{
    width: 82%;
}
.contenedorimg{
    margin: 0 auto;
    width: 30%;
    height: 30%;
    margin-bottom: 4%;
}
.usIcon{
    width: 100%;
    height: 100%
}

.boton{
    width: 37%
}

button.ui-button {
    margin-right: .5rem;
    margin-left: .5rem;
}
/*Estilo Pagina Inicio Sesion*/

/*Estilo Pagina Registro Clientes*/
.panRegistrarse{
    text-align: center;
}
.centrar{
    margin: 0 auto;
}
/*Estilo Pagina Registro Clientes*/

/*Estilo Pagina Solicitudes*/
.panNuevoUs{
    text-align: center;
}
/*Estilo Pagina Solicitudes*/

/*Estilo Pagina Gestion de Productos*/

.panGestProd{
    text-align: center;
}
.spin{
    width: 86%;
}
/*Estilo Pagina Gestion de Productos*/

/*Estilo Pagina Reportes*/
.panReportes{
    text-align: center;
}
/*Estilo Pagina Reportes*/

/*Estilo Pagina Pedidos*/
.panPedido{
    text-align: center;
}

.panDatosEnt{
    padding-bottom: 17%;
}
/*Estilo Pagina Pedidos*/


/*Estilo Pagina Despachos*/
.panDespach{
    text-align: center;
}

/*Estilo Pagina Despachos*/

/*Estilo Pagina Facturar*/
.panFacturar{
    text-align: center;
}
/*Estilo Pagina Facturar*/

/*Estilo Pagina Ayuda*/
.panAyuda{
    text-align: center;
}
p{
    width: 60%; 
    margin: 0 auto; 
    font-size: 18px;
}
/*Estilo Pagina Ayuda*/